*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.Main{
    height: 100vh;
    width: 100%;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #f9004d;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: white;
    transition: .4s;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-image: url('../image/background.jpg')
}

.Main img{
    height: auto;
    width: 360px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 10px;
}



.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.About-text h2{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.About-text p{
    color: #fefefe;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.research{
    width: 100%;
    padding: 100px, 0;
    background-image: url('../image/background.jpg');
}

.title h5{
    color: white;
    font-size: 65px;
    width: 1130px;
    margin: 30px, auto;
    margin-top: 10px;
    text-align: center;
}

.video-scene{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.vsc{
    height: 765px;
    width: 335px;
    padding: 20px, 35px;
    background-color: #fafaaa;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.video-scene img{
    width:auto;
    height: 215px;
}

.video-scene h5{
    color: #2b2929;
    font-size: 35px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 50px;

}

.video-scene .button{
    
    background-color: #11ab1c;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}

.video-scene .button:hover{
    background-color: #9eeea4;
    border: 2px soild #11fc11;
    cursor: pointer;
}

.video_scene_text p{
    margin-top: 10px;
    margin-bottom: 10px;
}